
p {color: lightblue;}

#head {
    padding-left: 250px;
}
header {text-align: center;
    padding-left: 400px;
}

img.displayed {display: block;
    margin-left:auto;
    margin-right: auto;}
body {background-color: yellow}

#company {
    color: blue;
    font-weight: bold;
}
